/*     Global styles     */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #ff6a62;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 4.8rem;
    padding-top: 15rem;
  }
  
  h3 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  h4,
  h5 {
    font-size: 2.7rem;
  }
  
  li,
  button,
  label,
  input,
  p {
    font-size: 2rem;
  }
  
  button {
    padding: 2rem 6rem;
    background: #041b2d;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 200ms ease-in;
  }
  
  button:hover {
    background: #f0d03e;
    color: rgb(59, 219, 222);
  }
  
  /*      Nav-section     */
  .main-head {
    background: #041b2d;
    position: sticky;
    top: 0px;
    z-index: 3;
  }
  
  nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }

.hero {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    color: #fff;
    padding: 0 8%;
}

.text-box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box p{
    padding-top: 5%;
}

.second{
    min-height: 100vh;
    background-color: #041b2d;
    color: rgb(195, 200, 191);
    padding: 0 8%;
}
.second form{
    padding: 20%;
    padding-left: 40%;
    width: 100%;
}